/* font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Quattrocento', serif; */

/* RGB 
$darkgray: rgba(66, 66, 66, 1);
$medgray: rgba(194, 194, 194, 1);
$aqua: rgba(0, 193, 199, 1);
$orange: rgba(231, 101, 40, 1);
$light: rgba(219, 225, 222, 1);
*/

body {
    /* box-sizing: border-box; */
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgba(66, 66, 66, 1);
    /* background-color: rgba(219, 225, 222, 1); */
    margin: 0;
    background: no-repeat center/cover url("https://farm1.staticflickr.com/977/39933828980_d69045436e_b.jpg");
}

.menu {
    background-color: rgba(194, 194, 194, 1);
    display: flex;
    justify-content: center;
    align-items: stretch baseline;
}

.logo {
    display: flex;
    width: 100px;
    height: 70px;
    margin: 20px;
    float: left;
}

.nav {
    width: 33%;
    padding: 40px 20px 30px 20px;
    font-family: 'Quattrocento', serif;
    color: rgba(66, 66, 66, 1);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.foot {
    padding: 2rem 0;
}

.nav:hover {
    background: rgba(0, 193, 199, 1);
}

.face {
    display: block;
    max-width: 60%;
    border-radius: 100%;
    margin: 2rem auto;
}

.about {
    background-color: rgba(231, 101, 40, 1);
    color: white;
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
}

.name {
    padding: 1rem;
    color: white;
    margin: 0.5rem 0;
    font-size: 2rem;
}

.intro {
    padding: 0 1rem 1rem 1rem;
    color: white;
    font-size: 18px;
    margin: 0;
}

h1 {
    font-family: 'Quattrocento', serif;
}


footer {
    background-color: rgba(194, 194, 194, 1);
    display: flex;
    justify-content: center;
    align-items: stretch baseline;
}

.foot-title {
    font-size: 1.5rem;
    font-family: 'Quattrocento', serif;
    padding: 2rem;
}

.box {
    background-color: rgba(219, 225, 222, 1);
    height: 16rem;
    margin: 2rem;
    display: inline-block;
    width: 16rem;
    vertical-align: top;

}

.desc {
    padding: 2px;
    text-align: center;
}

.box_title {
    padding: 0.5rem;
    text-align: center;
    color: rgba(231, 101, 40, 1);
}


.clear {
    clear: both;
}
