/* font-family: 'Oswald', sans-serif;
font-family: 'Dosis', sans-serif; */

/* RGB 
$darkgray: rgba(66, 66, 66, 1);
$medgray: rgba(181, 181, 181, 1);
$aqua: rgba(104, 165, 160, 1);
$orange: rgba(231, 101, 40, 1);
$light: rgba(219, 225, 222, 1);
*/

body {
    box-sizing: border-box;
    font-family: "Oswald","Dosis", sans-serif;
    margin: 0;
}

.menu {
    background-color: rgba(181, 181, 181, 1);
}

.logo {
    max-width: 20%;
}